/*** general styles ***/
body {
	font-family: sans-serif;
}
/*** pink area styles ***/
div#pink {
	width: 90%;
	height: 4em;
	margin: 2em auto 1em auto;
	border: 2px solid #000;
	background-color:#FEA39F;
}
div#pink ul {
	list-style-type: none;
	margin-top: 1.5em;
	padding-left: .75em;
}
div#pink ul li {
	display: inline;
	border-left: 2px solid #000;
	padding-left: 3px;
}
div#pink ul li:nth-of-type(1) {
	border-left: none;
}
div#pink ul li a {
	color: #093CE3;
}
/*** blue area styles ***/
div#blue {
	width: 18%;
	height: 25em;
	margin-left: 5%;
	border: 2px solid #000;
	background-color: #3BCEFC;
}
div#blue section {
	margin-left: .75em;
}










